.slick-dots{
    li{
        button{
            background: $gray;
            border-radius: 50%;
        }
    }
    .slick-active{
        button{
            background: $yellow;
            border-radius: 50%;

        }
    }
}
.reviews{
    .slick-track{
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
    }
    .slick-slide{
        &.slick-current{
            &.slick-active{
                float: none;
                display: flex;
                justify-content: center;
                align-items: center;
                .reviews__author{
                    margin-left: -140px;
                }
            }
        }  
    }
}